@model ISAD.Models.Products



    <div class="container">
        <form asp-controller="Order" asp-action="AddToOrder" method="post">
            <div class="row">
                <div class="col-6">

                    <h1>Menu</h1>
                    <select class="custom-select" size="10" asp-for="Id"  name="itemOrdered"
                            asp-items="(IEnumerable<SelectListItem>)ViewBag.Products">
                    </select>
                </div>
                <div class="col-6">
                    <h1>Your Order</h1>
                    <select class="custom-select" size="10"
                            asp-items="(IEnumerable<SelectListItem>)ViewBag.Ordering">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <select class="custom-select"  name="orderQuantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="col-3">
                    <input class="btn btn-outline-primary" type="submit" value="Add to order">
                </div>
            </div>
        </form>
    </div>