<div class="container">
    <div class="row">
        <div class="col text-right">
            <a class="btn btn-primary text-right" asp-controller="Admin" asp-action="Orders" role="button">View Orders</a>
        </div>
        <div class="col">
            <a class="btn btn-primary text-left" asp-controller="Admin" asp-action="Products" role="button">View Products</a>

        </div>
    </div>
</div>  