@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center">Welcome to Take</h1>
<h2 class="text-center">The Tea and Cake Place</h2>
<p class="text-center">Please use the button above to place or view an order</p>
